    /* your styles go here */

    .navbar-header {
        display: inherit;
    }

    .navbar-header ul {
        margin-right: 20px;
    }

    nav.navbar {
        background: #fff;
        color: #000;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .navbar.fixed-top{
        position: fixed !important;
        padding-left: 80px !important;
    }
    .mt-70{
        margin-top: 7.5rem !important;
    }
    nav.navbar .search-box form input{
        padding-left: 110px;
    }
    nav.side-navbar {
        background: #e1e5ee;
    }

    .page {
        background: #edf2f6 !important;
    }

    nav.side-navbar ul {
        padding: 0;
    }

    .nav.nav-tabs li a {
        color: rgba(0, 0, 0, 0.5);
        padding: 10px 20px;
        text-decoration: none;
        font-size: 0.85rem;
    }

    nav.side-navbar ul li a {
        border-left: 2px solid transparent;
        color: rgba(0, 0, 0, 1);
        padding: 15px;
    }

    .nav.nav-tabs li a.active {
        border-bottom: 1px solid #fff;
        color: rgba(0, 0, 0, 1);
    }
    /*sub level*/

    nav.side-navbar ul li li a {
        background: transparent;
    }

    .content-inner.active {
        width: 100%;
    }

    .nav-tabs {
        /*border-bottom: 1px solid rgba(0, 0, 0, 0.5);*/
    }

    .chart-tabs {
        width: 100%;
    }

    .charts-tabs .card-body {
        border-radius: 0;
    }

    .tab-content {
        margin-top: 40px;
    }

    .avatar {
        max-width: 40px;
    }

    #lineChartExample {
        max-height: 500px;
    }

    .nav-item {
        list-style-type: none;
    }

    .tab-content {
        width: 100%;
    }
    /*footer*/

    .main-footer {
        background-color: #fff !important;
        z-index: 100;
        box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 0, 0.6) !important;
    }

    h5 {
        color: #000;
        font-weight: 400;
    }

    h5 span {
        font-weight: 300;
        font-size: 0.85rem;
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.5);
    }

    .page-content {
        position: relative;
    }

    .side-navbar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    nav.side-navbar.l1 {
        z-index: 9999;
    }
    .side-navbar.l1 li a .fa{
        opacity: 0.5;
    }
     .side-navbar.l1 li.active a .fa{
        opacity: 1;
    }
    nav.side-navbar.l2 {
        z-index: 9990;
        left: 80px;
        min-width: 240px;
        max-width: 240px;
        transition: all ease-in-out 0.5s;
    }

    nav.side-navbar.l2.shrinked {
        left: -160px;
        min-width: 240px;
        max-width: 240px;
        transition: all ease-in-out 0.5s;
    }

    nav.side-navbar.l2 .nav-menu {
        margin: 18px 0 5px 10px;
    }
   
    nav.side-navbar.l2 ul li a.user:hover{
        background: transparent;
        border-left: 2px solid transparent;
    }

    nav.side-navbar.shrinked ul li a,
    nav.side-navbar.shrinked ul li.active a,
    nav.side-navbar.shrinked ul li a:hover {
        color: #000;
    }

    nav.side-navbar.shrinked ul li a i,
    nav.side-navbar.shrinked ul li.active a i,
    nav.side-navbar.shrinked ul li a:hover i {
        color: #000;
    }

    nav.side-navbar ul li.active>a:hover {
        background: #363739;
        border-left: 2px solid #d4d4d6;
    }

    nav.side-navbar ul li.active>a:hover {
        background: #e1e5ee;
    }

    .shrinked nav.navbar .brand-big {
        display: block !important;
    }

    nav.side-navbar ul li.active>a {
        background: #cacfd6;
        border-left: 2px solid #d4d4d6;
    }

    nav.side-navbar ul li.active>a {
        color: #000;
    }

    nav.side-navbar ul li a:hover {
        background: #cacfd6;
        border-left: 2px solid #d4d4d6;
        color: #000;
    }

    .brand-text.brand-big img,
    .brand-text.brand-small img {
        max-height: 42px;
    }

    .login-page .content-inner {
        width: 100%;
        padding-left: 0;
        min-height: calc(100vh - 0px);
    }
    .login-page .page-content{
     
    }

    .content-inner {
        width: 100%;
        padding-top: 0px;
        min-height: calc(100vh - 83px);
        padding-left: 80px;
    }
    /* nav.side-navbar {
        min-width: 200px;
        max-width: 200px;
    }*/

    nav.side-navbar.l1 {
        min-width: 80px;
        max-width: 80px;
        background: #061b45;
    }
    /*table*/

    table td,
    table th {
        color: #fff;
        text-align: center;
    }
    /*sideNavbar level one*/

    nav.side-navbar.l1 ul li a {
        color: rgba(255, 255, 255, 0.3);
        font-size: 12px;
        text-align: center;
        padding: 16px 7px;
    }

    .left-nav-th {
        min-height: 79px;
        background: #061b45;
    }

    .menu-btn {
        min-height: 79px;
        padding-top: 30px;
        padding-left: 30px;
    }

    .menu-btn img {
        transition: all ease-in-out 0.5s
    }

    nav.side-navbar.l1 ul li.active>a,
    nav.side-navbar.l1 ul li>a:hover {
        background: #223962 !important;
        color: #fff;
    }

    nav.navbar .nav-link span.badge-corner {
        right: 8px;
    }

    .bg-yellow {
        background: #ff9800 !important;
    }

    nav.navbar .nav-link {
        color: rgba(0, 0, 0, 0.8);
        font-size: 0.85rem;
    }

    nav.side-navbar.l1 a i {
        font-size: 1.6em;
        padding: 6px;
        -webkit-transition: none;
        transition: none;
        margin-right: 0;
    }

    .dots-nav {
        margin: 12px 0 0 20px;
    }

    .settings{
        margin-top: 100px;
        border-top: 1px solid rgba(255,255,255,0.5)

    }
    /*Custom-icons*/

    .fa-settle::before {
        content: url(../img/settle.png);
    }

    .fa-cmf::before {
        content: url(../img/cmf.png);
    }

    .fa-ca::before {
        content: url(../img/ca.png);
    }

    .fa-bell-o::before {
        content: url(../img/msg.png);
    }
      .fa-home-icon::before {
        content: url(../img/home-icon.png);
    }
      .fa-service-icon::before {
        content: url(../img/service-icon.png);
    }
      .fa-message-icon::before {
        content: url(../img/message-icon.png);
    }
       .fa-fav-icon::before {
        content: url(../img/market-icon.png);
    }
        .fa-market-icon::before {
        content: url(../img/fav-icon.png);
    }
       .fa-setting-icon::before {
        content: url(../img/settings-icon.png);
    }
    /*Login Page*/

    .login-page .form-holder .info {
        background: #061b45;
    }

    .login-page .form-holder .info,
    .login-page .form-holder .form {
        min-height: 50vh;
    }

    .info .content {
        width: 100%;
        text-align: center;
    }

    #login.btn-primary {
        background: #1f96f4;
        border: none;
        text-transform: uppercase;
    }

    .page.login-page {
        background: #edf2f6 !important;
    }

    input.input-material~label.active {
        font-size: 0.8em;
        top: -10px;
        color: #000;
    }

    input.input-material:focus {
        border-color: #1f96f4;
    }

    .login-page .form-holder .form #login,
    .login-page .form-holder .form #register {
        padding: 6px 20px;
    }

    .login-page .container {
        min-height: calc(100vh - 280px);
        width: 36%;
        z-index: 1;
        margin-top: 100px;
    }

    .login-page .form-holder .form form {
        max-width: 100%;
    }

    .login-page .form-holder .form .content {
        text-align: center;
    }

    .login-page .form-holder .form a.forgot-pass,
    .login-page .form-holder .form a.signup {
        padding: 6px;
    }
    /*.today{
    position: relative;
    transform: scale(1.2,1.1);
    z-index: 9999;
}*/

    .today .fund-list,
    .previous .fund-list,
    .next .fund-list {
        display: none;
        width: auto;
    }

    .card.selected .fund-list {
        display: block;
    }

    .today .card.selected,
    .previous .card.selected,
    .next .card.selected {
        position: relative;
        transform: scale(1.2, 1.1);
        z-index: 5;
        box-shadow: 0px 5px 12px #adadad;
        opacity: 1;
        transition: all ease-in 0.3s;
    }

    .previous .card.selected {
        left: 40px;
    }

    .next .card.selected {
        right: 40px;
    }

    .previous .card,
    .next .card,
    .today .card {
        opacity: 0.3;
        transition: all ease-in 0.3s;
    }

    .card-header {
        background: #000;
    }

    .selected .card-body {
        background: white;
    }

    .chart-sec .card-body {
        background: #fff;
    }

    .card-body {
        background: #a7b9c6;
        padding: 10px;
        cursor: pointer;
    }

    .table {
        font-weight: 300;
    }

    .table td,
    .table th,
    .table thead th {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    }

    .table td,
    .table th {
        border-top: 0;
    }

    .table th {
        font-weight: 300;
        color: rgba(0, 0, 0, 0.6);
    }

    .table td {
        color: rgba(0, 0, 0, 1);
    }

    .chart-sec {
        margin-top: 20px;
    }

    .chart-sec .tab-content {
        margin-top: 0px;
    }

    .chart-tabs {
        background: #fff;
        border-radius: 6px 6px 0 0;
    }

    .chart-sec .card,
    .chart-sec .card-body {
        border-radius: 0px !important;
    }

    .chart-tabs li .fa {
        margin-right: 8px
    }

    a.date-time {
        color: rgba(0, 0, 0, 0.5) !important;
        font-size: 0.85rem;
    }

    .card-close {
        color: #000;
        text-transform: uppercase;
    }

    .card-body h3 {
        color: black;
        font-weight: 400;
        font-size: 1rem
    }

    small {
        color: rgba(0, 0, 0, 0.5);
    }

    .card,
    .card-body {
        border-radius: 8px;
    }

    .funds-sec {
        max-height: 300px;
        background: none;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        overflow: hidden;
    }

    .card-head {
        margin-bottom: 10px;
    }

    .fund-status {
        width: 100%;
        float: right;
        margin-top: 20px;
    }

    .selected .fund-status {
        width: 50%;
    }

    .fund-status ul {
        margin: 0;
        padding: 0;
        padding-left: 8px;
    }

    .fund-status ul li {
        list-style-type: none;
        padding: 20px 15px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .fund-status ul li:last-child {
        border-bottom: none;
    }

    .fund-status ul li h4 {
        color: rgba(0, 0, 0, 1);
        text-align: center;
        font-weight: 400;
        font-size: 1rem;
        text-transform: uppercase;
    }

    .fund-status ul li p {
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
        font-size: 0.9rem;
    }

    .blue {
        color: #0595e0 !important;
    }

    .orange {
        background: #f07700 !important;
    }

    .fund-list {
        width: 50%;
        float: left;
        max-height: 280px;
        overflow-y: scroll;
        margin-top: 15px;
    }

    .fund-list ul {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .fund-list ul li {
        list-style-type: none;
        color: #fff;
        background: #0574e0;
        display: table;
        padding: 10px;
        width: 100%;
        margin-bottom: 2px;
        border-left: 2px solid rgba(255, 255, 255, 0.5);
        border-right: 2px solid rgba(255, 255, 255, 0.5);
    }

    .fund-list ul li.active {
        border-left: 2px solid rgba(255, 255, 255, 1);
        border-right: 2px solid rgba(255, 255, 255, 1);
    }

    .fun {
        display: table-row;
    }

    .fun div {
        display: table-cell;
    }

    .fund-name {
        font-weight: 700;
        font-size: 0.9rem;
        padding: 8px 6px;
        letter-spacing: 1px;
    }

    .fund-quan,
    .fund-price {
        font-weight: 300;
        font-size: 0.8rem;
        padding: 8px 0px 8px;
        text-align: right;
    }

    .fund-isin {
        padding-left: 7px;
    }
    /*menu-toggle*/

    .side-navbar.l1 .menu-btn.active img {
        position: relative;
        width: 20px;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        transition: all ease-in-out 0.5s
    }

    nav.navbar .menu-btn img {
        width: 20px;
        height: 18px;
        display: block;
        margin: 4px auto 0;
        -webkit-transition: all 0.3s cubic-bezier(0.81, -0.33, 0.345, 1.375);
        transition: all 0.3s cubic-bezier(0.81, -0.33, 0.345, 1.375);
    }

    .badge {
        padding: 6px 12px;
    }

    .bg-green {
        background: #4caf50 !important;
    }

    .bg-orange {
        background: #ff5722 !important;
    }

    .bg-red {
        background: #f44336 !important;
    }
    /*scroller*/
    /*




 *  STYLE 1
 */

    #style-1::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 1);
    }

    #style-1::-webkit-scrollbar {
        width: 8px;
        background-color: rgba(0, 0, 0, 0.8);
    }

    #style-1::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #555;
    }
    /*firefox*/
    /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

    @media (min-width: 1281px) {

        /*CSS*/
    }
    /* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

    @media (min-width: 1025px) and (max-width: 1366px) {
        .selected .fund-status {
            width: 36%;
        }
        /*CSS*/
    }
    /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

    @media (min-width: 768px) and (max-width: 1024px) {
        .card-body h3,
        .card-close {
            font-size: 0.8rem;
        }
        .card-body h3 {
            width: 78%;
        }

        .card-close {
            top: 8px;
        }
        .card-head small {
            font-size: 0.62rem;
        }

        .fund-list {
            width: 50%;
        }
        .fund-status {
            width: 100%;
        }

        .selected .fund-status {
            width: 39%;
        }

        .fund-status ul li h4 {
            font-size: 0.8rem;
        }
        .fund-status ul li p {
            font-size: 0.62rem;
        }
        .fund-status ul li {
            padding: 20px 8px 0;
        }
        .fund-name {
            font-size: 0.7rem;
        }
        .fund-isin {
            font-size: 0.8rem;
        }

        .today .card.selected,
        .previous .card.selected,
        .next .card.selected {
            width: 140%;
        }

        .next .card.selected {
            right: 100px;
        }

        .previous .card.selected {
            left: 30 px;
        }

        /*CSS*/
    }
    /* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

        /*CSS*/
    }
    /* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

    @media (min-width: 481px) and (max-width: 767px) {

        /*CSS*/
    }
    /* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

    @media (min-width: 320px) and (max-width: 480px) {
        nav.side-navbar.shrinked {
            position: relative;
            margin-left: -90px;
            position: fixed;
            top: 100px;
            bottom: 0;
            height: 100vh;
        }

        nav.side-navbar {
            min-width: 90px;
            max-width: 90px;
            margin-left: 0px;
            position: fixed;
            top: 100px;
            bottom: 0;
            height: 100vh;
            z-index: 9;
            transition: all ease-in-out 0.3s;
        }
nav.side-navbar.l2.shrinked{
    left: -270px;
}
.content-inner{
    padding-left: 0;
}
        .dots-nav {
            margin-left: 120px;
        }


        .login-page .container {
            width: 100%;
        }
        .nav {
            display: block;
            text-align: center;
        }

        .content-inner,
        .content-inner.active {
            width: 100%;
        }

        .today .card.selected,
        .previous .card.selected,
        .next .card.selected {
            transform: scale(1.0, 1.0);
        }

        .previous .card.selected {
            left: 0px;
        }

        .next .card.selected {
            right: 0px;
        }

        .fixed-top {
            position: fixed !important;
        }

        .page-content {
            margin-top: 83px;
        }

        .nav-menu {
            display: none !important;
        }
        .page-content {
            margin-top: 100px;
        }

        nav.side-navbar {
            top: 80px;
            margin-left: -90px;
        }
        nav.side-navbar.shrinked {
            top: 80px;
            margin-left: 0px;
        }
        .navbar-brand {
            margin-left: 40px;
        }

        .today .fund-list,
        .previous .fund-list,
        .next .fund-list {
            width: 64%;
        }

        .card-body h3 {
            font-size: 0.7rem;
        }

        .card-head small {
            font-size: 0.7rem;
        }

        .fund-isin {
            font-size: 0.75rem;
        }

        .card-close {
            top: 10px;
            font-size: 0.75rem;
        }

        .fund-quan,
        .find-price {
            font-size: 0.75rem;
        }
        .card-body {

            padding: 10px 5px;
        }
        .selected .fund-status {
            width: 36%;
        }
        .fund-list {
            width: 50%;
        }
        .fund-status {
            width: 100%;
        }

        .fund-status ul li p {
            font-size: 0.75rem;
        }

        .chart-sec .nav {
            display: flex;
        }
        /*CSS*/
    }