/* your styles go here */

*{

}

nav.navbar {
    background: #000;
}

nav.side-navbar {
    background: #1f2022;
}

.page {
    background: #000;
}

.nav.nav-tabs li a {
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 0.85rem;
}

nav.side-navbar ul li a {
    border-left: 2px solid transparent;
}

.nav.nav-tabs li a.active {
    border-bottom: 1px solid #fff;
    color: rgba(255, 255, 255, 1);
}

.nav-tabs {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.chart-tabs {
    width: 100%;
}

.charts-tabs .card-body {
    border-radius: 0;
}

.tab-content {
    margin-top: 40px;
}

.avatar {
    max-width: 40px;
}

#lineChartExample {
    max-height: 500px;
}

.nav-item {
    list-style-type: none;
}

.tab-content {
    width: 100%;
}

h5 {
    color: #fff;
    font-weight: 400;
}

h5 span {
    font-weight: 300;
    font-size: 0.85rem;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.5);
}

nav.side-navbar.shrinked ul li a i {
    color: #7e7e7e;
}

nav.side-navbar ul li.active>a:hover {
    background: #363739;
    border-left: 2px solid #d4d4d6;
}

nav.side-navbar ul li.active>a:hover {
    background: #363739;
}

.shrinked nav.navbar .brand-big {
    display: block !important;
}

nav.side-navbar ul li.active>a {
    background: #363739;
    border-left: 2px solid #d4d4d6;
}

nav.side-navbar ul li a:hover {
    background: #363739;
    border-left: 2px solid #d4d4d6;
}

.content-inner {
    width: calc(100% - 200px);
}

nav.side-navbar {
    min-width: 200px;
    max-width: 200px;
}



/*table*/
table td, table th{
    color: #fff;
    text-align: center;
}

/*.today{
    position: relative;
    transform: scale(1.2,1.1);
    z-index: 9999;
}*/

.today .card.selected, .previous .card.selected, .next .card.selected {
    position: relative;
    transform: scale(1.2, 1.1);
    z-index: 9999;
    box-shadow: 0px 5px 12px #000;
    opacity: 1;
    transition: all ease-in 0.3s;

}

.previous .card.selected{
    left: 40px;

}

.next .card.selected{
    right: 40px;
}

.previous .card,
.next .card, .today .card {
    opacity: 0.3;
}

.card-header {
    background: #000;
}

.card-body {
    background: #1f2022;
    padding: 10px;
    cursor: pointer;
}

.table td,
.table th,
.table thead th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}

.table td,
.table th {
    border-top: 0;
}
.table th{
    font-weight: 300;
    color: rgba(255,255,255,0.5);
}
.chart-sec {
    margin-top: 20px;
}

.chart-sec .tab-content {
    margin-top: 0px;
}

.chart-tabs {
    background: #101010;
}

.chart-sec .card,
.chart-sec .card-body {
    border-radius: 0px !important;
}

.chart-tabs li .fa {
    margin-right: 8px
}

a.date-time {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 0.85rem;
}

.card-close {
    color: white;
    text-transform: uppercase;
}

.card-body h3 {
    color: white;
    font-weight: 400;
    font-size: 1rem
}

small {
    color: rgba(255, 255, 255, 0.5);
}

.card,
.card-body {
    border-radius: 8px;
}

.funds-sec {
    max-height: 300px;
    background: none;
    border-top: 1px solid #424242;
    overflow: hidden;
}

.card-head {
    margin-bottom: 10px;
}

.fund-status {
    width: 40%;
    float: right;
    margin-top: 20px;
}

.fund-status ul {
    margin: 0;
    padding: 0;
    padding-left: 8px;
}

.fund-status ul li {
    list-style-type: none;
    padding: 20px 15px 0;
    border-bottom: 1px solid #424242;
}

.fund-status ul li:last-child {
    border-bottom: none;
}

.fund-status ul li h4 {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
}

.fund-status ul li p {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 0.9rem;
}

.blue {
    color: #0595e0 !important;
}

.orange {
    background: #f07700 !important;
}

.fund-list {
    width: 60%;
    float: left;
    max-height: 280px;
    overflow-y: scroll;
    margin-top: 15px;
}

.fund-list ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.fund-list ul li {
    list-style-type: none;
    color: #fff;
    background: #0574e0;
    display: table;
    padding: 10px;
    width: 100%;
    margin-bottom: 2px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
}

.fund-list ul li.active {
    border-left: 2px solid rgba(255, 255, 255, 1);
    border-right: 2px solid rgba(255, 255, 255, 1);
}

.fun {
    display: table-row;
}

.fun div {
    display: table-cell;
}

.fund-name {
    font-weight: 700;
    font-size: 0.9rem;
    padding: 8px 6px;
    letter-spacing: 1px;
}

.fund-quan,
.fund-price {
    font-weight: 300;
    font-size: 0.8rem;
    padding: 8px 0px 8px;
    text-align: right;
}

.fund-isin {
    padding-left: 7px;
}




/*menu-toggle*/

nav.navbar .menu-btn.active img {
    position: relative;
    width: 20px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

nav.navbar .menu-btn img {
    width: 20px;
    height: 18px;
    display: block;
    margin: 4px auto 0;
    -webkit-transition: all 0.3s cubic-bezier(0.81, -0.33, 0.345, 1.375);
    transition: all 0.3s cubic-bezier(0.81, -0.33, 0.345, 1.375);
}

.badge {
    padding: 6px 12px;
}

.bg-green {
    background: #4caf50 !important;
}

.bg-orange {
    background: #ff5722 !important;
}

.bg-red {
    background: #f44336 !important;
}







/*scroller*/


/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 1);
}

#style-1::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0.8);
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}



/*firefox*/